[Unit]
Description=Dump debugfs logs at shutdown
Requires=network.target
DefaultDependencies=no
Before=shutdown.target reboot.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/opt/kdesni/dump.sh

[Install]
WantedBy=multi-user.target

